# Default settings for the pipeline stages.
# These can be overridden in the stage settings below.

defaults:
    # Number of CPU cores to use for the task
    cores: 1
    # Maximum memory in gigabytes for a cluster job
    mem: 4
    # VLSCI account for quota
    account: VRXXXX
    queue: VRYYYY
    # Maximum allowed running time on the cluster in Hours:Minutes
    walltime: '1:00'
    # Load modules for running a command on the cluster.
    modules:
    # Run on the local machine (where the pipeline is run)
    # instead of on the cluster. False means run on the cluster.
    local: False

# Stage-specific settings. These override the defaults above.
# Each stage must have a unique name. This name will be used in
# the pipeine to find the settings for the stage.

stages:
    # Align paired end FASTQ files to the reference
    align_bwa:
        cores: 8
        walltime: '8:00'
        mem: 32
        modules:
            - 'bwa-intel/0.7.12'
            - 'samtools-intel/1.1'

    # Sort the BAM file with Picard
    sort_bam_picard:
        walltime: '10:00'
        mem: 30
        modules:
            - 'picard/1.127'

    # Mark duplicate reads in the BAM file with Picard
    mark_duplicates_picard:
        walltime: '10:00'
        mem: 30
        modules:
            - 'picard/1.127'

    # Generate chromosome intervals using GATK
    chrom_intervals_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Local realignment using GATK
    local_realignment_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Local realignment using GATK
    base_recalibration_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Print reads using GATK
    print_reads_gatk:
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Call variants using GATK
    call_variants_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Combine G.VCF files for all samples using GATK
    combine_gvcf_gatk:
        cores: 1
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Genotype G.VCF files using GATK
    genotype_gvcf_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # SNP recalibration using GATK
    snp_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # INDEL recalibration using GATK
    indel_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Apply SNP recalibration using GATK
    apply_snp_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Apply INDEL recalibration using GATK
    apply_indel_recalibrate_gatk:
        cores: 8
        walltime: '10:00'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Combine variants using GATK
    combine_variants_gatk:
        cores: 8
        walltime: '01:50'
        mem: 30
        modules:
            - 'gatk/3.4-46'

    # Filter variants using GATK
        filter_variants_gatk:
        cores: 1
        walltime: '01:50'
        mem: 24
        modules:
            - 'gatk/3.4-46'

    # Select variants using GATK
    select_variants_gatk:
        cores: 1
        walltime: '01:50'
        mem: 24
        modules:
            - 'gatk/3.4-46'

mills_hg19: /vlsci/VR0002/shared/Reference_Files/other/Homo_sapiens/UCSC/hg19/gatk/Mills_and_1000G_gold_standard.indels.hg19.vcf
one_k_g_hg19_indels: /vlsci/VR0002/shared/Reference_Files/other/Homo_sapiens/UCSC/hg19/gatk/1000G_phase1.indels.hg19.vcf
one_k_g_snps: /vlsci/VR0002/shared/Reference_Files/other/Homo_sapiens/UCSC/hg19/gatk/1000G_omni2.5.hg19.sites.vcf
one_k_g_highconf_snps: /vlsci/VR0002/shared/Reference_Files/other/Homo_sapiens/UCSC/hg19/gatk/1000G_phase1.snps.high_confidence.hg19.vcf
one_k_g_indels: /vlsci/VR0002/shared/Reference_Files/other/Homo_sapiens/UCSC/hg19/gatk/1000G_phase1.indels.hg19.vcf
hapmap: /vlsci/VR0002/shared/Reference_Files/other/Homo_sapiens/UCSC/hg19/gatk/hapmap_3.3.hg19.vcf
#interval_hg19: reference/Broad.human.exome.b37.interval_list
interval_hg19: /vlsci/VR0182/shared/km/IGN2Run/pipeline_gatk3_exome/SeqCap_EZ_Exome_v3.targets.100.bed
ped_file: reference/fam.ped
famseq_ped_file: reference/fam.famseq.ped
dbsnp_hg19: /vlsci/VR0002/shared/Reference_Files/other/Homo_sapiens/UCSC/hg19/gatk/dbsnp_138.hg19.vcf
CEU_mergeGvcf: /vlsci/VR0002/shared/Reference_Files/other/1KG_background/CEU_mergeGvcfchr.vcf
#FIN_mergeGvcf: reference/FIN_mergeGvcf.vcf
#GBR_mergeGvcf: reference/GBR_mergeGvcf.vcf
# The Human Genome in FASTA format.

ref_hg19: /vlsci/LSC0007/shared/reference/genome.fa

# The input FASTQ files.

fastqs:
   - fastqs/sample1_R1.fastq.gz
   - fastqs/sample1_R2.fastq.gz
   - fastqs/sample2_R1.fastq.gz
   - fastqs/sample2_R2.fastq.gz
